.select_move {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    position: relative;
    width: 400px;
    height: 400px;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.token {
    position: absolute;
    width: 96px;
    height: 96px;
}

.token:nth-child(1) {
    transform: translate(150%, 5%);
}
.token:nth-child(2) {
    transform: translate(280%, 100%);
}
.token:nth-child(3) {
    transform: translate(250%, 280%);
}
.token:nth-child(4) {
    transform: translate(20%, 280%);
}
.token:nth-child(5) {
    transform: translate(0%, 100%);
}

.classic {
    background-image: url("../../assets/images/bg-triangle.svg");
}

.lizardSpock {
    background-image: url("../../assets/images/bg-pentagon.svg");
}

@media screen and (min-width: 490px) {
    .title {
        margin-bottom: 80px;
    }

    .table {
        width: 400px;
    }

    .token:nth-child(1) {
        transform: translate(130%, -20%);
    }

    .token:nth-child(2) {
        transform: translate(280%, 100%);
    }

    .token:nth-child(3) {
        transform: translate(230%, 280%);
    }

    .token:nth-child(4) {
        transform: translate(30%, 280%);
    }

    .token:nth-child(5) {
        transform: translate(-20%, 100%);
    }
}