

.countdown {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  height: auto;
  background-image: url("../../assets/images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableVS {
  background-image: none;
}

.token {
  margin: 12px;
  height: 120px;
  width: 120px;
  background-color: var(--light);
  border: 12px solid;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: 0.02s;
}

.token_outline_top {
  box-shadow: 0 -4px 0 #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: stretch;
  border-radius: 50%;
}

.paper {
  border-color: #4865f4;
  box-shadow: 0 5px 0 #2948e4;
}

.scissors {
  border-color: #ec9e0e;
  box-shadow: 0 5px 0 #c2840a;
}

.rock {
  border-color: hsl(349, 71%, 52%);
  box-shadow: 0 5px 0 hsl(349, 78%, 46%);
}

.token:active {
  transform: scale(0.9);
}

.round_info {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 400px) {
  .table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  .round_info {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }
}