

.countdown {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  height: auto;
  background-image: url("../../assets/images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableVS {
  background-image: none;
}

.round_info {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 400px) {
  .table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  .round_info {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }
}