.header {
  padding: 10px 10px 10px 23px;
  border: 3px solid var(--header-outline);
  border-radius: 0.5em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 16px;
  font-weight: 700;
  font-size: 21px;
  text-shadow: var(--shadow);
}

.score {
  width: 80px;
  padding: 10px 0;
  background-color: var(--light);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  text-align: center;
}

.score__title {
  margin: 0;
  color: var(--score-text);
  font-size: 0.8em;
}

.score__value {
  margin: 0;
  color: var(--header-outline);
  font-size: 2.5em;
  font-weight: 700;
}