.container {
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    align-items: center;
}

.round_selector {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
}