.container {
  min-height: 100dvh;
  padding: 3rem 2rem;
  background-image: radial-gradient(
    circle at top,
    var(--bg-radial-gradient1) 20%,
    var(--bg-radial-gradient2) 100%
  );
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--light-text);
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative
}

.nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  top: 1rem;
}

.nav__link {
  color: var(--link-text);
  text-decoration: none;
}

.link-btn {
  margin-top: 2em;
  text-decoration: none;
  text-align: center;
  color: var(--light-text);
}

.rounds {
  padding: 20px 70px;
  background-color: var(--light);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  font-size: 18px;
  cursor: pointer;
}

@media screen and (min-width: 400px) {
  .container {
    align-items: center;
    position: relative
  }
}
