.container {
  min-height: 100dvh;
  padding: 2em;
  background-image: radial-gradient(
    circle at top,
    var(--bg-radial-gradient1) 20%,
    var(--bg-radial-gradient2) 100%
  );
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--light-text);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav {
  display: flex;
  column-gap: 1rem;
}

.nav__link {
  color: var(--link-text);
  text-decoration: none;
}



.app {
  width: 100%;
}

.countdown {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  height: auto;
  background-image: url("../images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableVS {
  background-image: none;
}

.token {
  margin: 12px;
  height: 120px;
  width: 120px;
  background-color: var(--light);
  border: 12px solid;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: 0.02s;
}

.token-outline-top {
  box-shadow: 0 -4px 0 #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: stretch;
  border-radius: 50%;
}

.token:active {
  transform: scale(0.9);
}

.round-info {
  display: flex;
  justify-content: space-around;
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  text-align: center;
}

.final-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-btn {
  margin-top: 2em;
  text-decoration: none;
  text-align: center;
  color: var(--light-text);
}

.paper {
  border-color: #4865f4;
  box-shadow: 0 5px 0 #2948e4;
}

.scissors {
  border-color: #ec9e0e;
  box-shadow: 0 5px 0 #c2840a;
}

.rock {
  border-color: hsl(349, 71%, 52%);
  box-shadow: 0 5px 0 hsl(349, 78%, 46%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__fields {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form__title {
  text-shadow: var(--shadow);
}

.rounds {
  padding: 20px 70px;
  background-color: var(--light);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  font-size: 18px;
  cursor: pointer;
}

.btn {
  width: 150px;
  padding: 10px 0;
  border-radius: 0.5em;
  border: 2px solid var(--light);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.form__btn {
  background-color: var(--light);
}



@media screen and (min-width: 400px) {
  .container {
    align-items: center;
  }

  .header {
    width: 350px;
  }

  .table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  .round-info {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }

  .rules__modal--active {
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }

  .modal__content {
    height: 80vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
