@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --bg-radial-gradient1: #1f3756;
  --bg-radial-gradient2: #141539;
  --dark-text: #3b4363;
  --light-text: #fff;
  --score-text: #2a46c0;
  --link-text: #1eb9b9;
  --header-outline: #606e85;
  --light: #fff;
  --shadow: 0px 1px 2px rgb(0, 0, 0);
}

.container {
  min-height: 100vh;
  padding: 2em;
  background-image: radial-gradient(
    circle at top,
    var(--bg-radial-gradient1) 20%,
    var(--bg-radial-gradient2) 100%
  );
  font-family: "Barlow Semi Condensed", sans-serif;
  color: var(--light-text);
  text-transform: uppercase;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  padding: 10px 10px 10px 23px;
  border: 3px solid var(--header-outline);
  border-radius: 0.5em;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 16px;
  font-weight: 700;
  font-size: 21px;
  text-shadow: var(--shadow);
}

.score {
  width: 80px;
  padding: 10px 0;
  background-color: var(--light);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  text-align: center;
}

.score__title {
  margin: 0;
  color: var(--score-text);
  font-size: 0.8em;
}

.score__value {
  margin: 0;
  color: var(--header-outline);
  font-size: 2.5em;
  font-weight: 700;
}

.app {
  width: 100%;
}

.countdown {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.table {
  height: auto;
  background-image: url("../images/bg-triangle.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tableVS {
  background-image: none;
}

.token {
  margin: 12px;
  height: 120px;
  width: 120px;
  background-color: var(--light);
  border: 12px solid;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: 0.02s;
}

.token-outline-top {
  box-shadow: 0 -4px 0 #d0d0d0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  align-self: stretch;
  border-radius: 50%;
}

.token:active {
  transform: scale(0.9);
}

.round-info {
  display: flex;
  justify-content: space-around;
}

.result-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result {
  text-align: center;
}

.final-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-btn {
  margin-top: 2em;
  text-decoration: none;
  text-align: center;
  color: var(--light-text);
}

.paper {
  border-color: #4865f4;
  box-shadow: 0 5px 0 #2948e4;
}

.scissors {
  border-color: #ec9e0e;
  box-shadow: 0 5px 0 #c2840a;
}

.rock {
  border-color: hsl(349, 71%, 52%);
  box-shadow: 0 5px 0 hsl(349, 78%, 46%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__fields {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.form__title {
  text-shadow: var(--shadow);
}

.rounds {
  padding: 20px 70px;
  background-color: var(--light);
  border-radius: 0.5em;
  box-shadow: var(--shadow);
  font-size: 18px;
  cursor: pointer;
}

.btn {
  width: 150px;
  padding: 10px 0;
  border-radius: 0.5em;
  border: 2px solid var(--light);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
}

.form__btn {
  background-color: var(--light);
}

.rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rules__btn {
  background: transparent;
  color: var(--light-text);
}

.rules__modal {
  display: none;
}

.rules__modal--active {
  display: block;
}

.modal__content {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-color: var(--light);
  font-family: "Barlow Semi Condensed", sans-serif;
}

.modal__title {
  font-size: 2em;
  color: var(--header-outline);
}

.close-modal {
  background-color: transparent;
  border: none;
  font-size: 4em;
  transform: rotate(45deg);
  color: var(--header-outline);
  cursor: pointer;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (min-width: 400px) {
  .container {
    align-items: center;
  }

  .header {
    width: 350px;
  }

  .table {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
  }

  .round-info {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
  }

  .rules__modal--active {
    height: 100%;
    width: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
  }

  .modal__content {
    height: 80vh;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}
