@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --bg-radial-gradient1: #1f3756;
  --bg-radial-gradient2: #141539;
  --dark-text: #3b4363;
  --light-text: #fff;
  --score-text: #2a46c0;
  --link-text: #1eb9b9;
  --header-outline: #606e85;
  --light: #fff;
  --shadow: 0px 1px 2px rgb(0, 0, 0);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn {
  width: 150px;
  padding: 10px 0;
  border-radius: 0.5em;
  border: 2px solid var(--light);
  box-shadow: var(--shadow);
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-family: "Barlow Semi Condensed", sans-serif;
}

.rounds_selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1.5rem;
}

.rounds_selector__btn {
  background-color: var(--light);
  font-size: 18px;
}