@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

:root {
  --bg-radial-gradient1: #1f3756;
  --bg-radial-gradient2: #141539;
  --dark-text: #3b4363;
  --light-text: #fff;
  --score-text: #2a46c0;
  --link-text: #1eb9b9;
  --header-outline: #606e85;
  --light: #fff;
  --shadow: 0px 1px 2px rgb(0, 0, 0);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}